@model FastGooey.Features.Widgets.RssFeed.Models.ViewModels.RssFeed.RssWorkspaceViewModel

<form method="post"
      hx-post="@Url.Action("SaveWorkspace", "RssFeed", new { workspaceId = Model.WorkspaceId(), interfaceId = Model.InterfaceId() })"
      hx-target="#workspaceEditor">
        @Html.AntiForgeryToken()
        <div id="editor" class="mx-auto max-w-3xl mt-8">
            <div class="formGroup formGroupAddBackground mb-8">
                <div class="w-full border-b border-b-zinc-300 py-2 px-4">
                    <p class="font-semibold text-sm">Configuration</p>
                </div>
                <div class="pt-2 pb-4 px-4">
                    <div>
                        <label for="feedUrl">Feed Url</label>
                        <div class="flex gap-2">
                            <input 
                                type="url" 
                                id="feedUrl" 
                                name="feedUrl" 
                                placeholder="https://www..."
                                value="@Model.Data.FeedUrl"
                                onkeyup="if(event.key === 'Enter') document.getElementById('previewButton').click()"
                            />
                            <button
                                id="previewButton"
                                type="button"
                                hx-get="@Url.Action("RssPreviewPanelFromUrl", "RssFeed", new { workspaceId = Model.WorkspaceId() })"
                                hx-include="#feedUrl"
                                hx-target="#previewPanel"
                                class="px-2 py-1 rounded cursor-pointer bg-blueMid text-white font-semibold">
                                Preview...
                            </button>
                        </div>
                        <div class="mt-4">
                            @await Html.PartialAsync("~/Views/Partials/SubmitButton.cshtml")
                        </div>
                    </div>
                </div>
                
            </div>
            
            <div id="previewPanel" class="formGroup formGroupAddBackground">
                <div class="w-full border-b border-b-zinc-300 py-2 px-4">
                    <p class="font-semibold text-sm">Preview</p>
                </div>
                @if (string.IsNullOrEmpty(Model.Data.FeedUrl))
                {
                    <div class="p-4 text-center py-6 bg-zinc-100">
                        <p>Preview not available</p>
                    </div>
                }
                else
                {
                    <div 
                        hx-get="@Url.Action("RssPreviewPanel", "RssFeed", new { workspaceId = Model.WorkspaceId(), interfaceId = Model.InterfaceId() })" 
                        hx-trigger="load, refreshPreview from:body"
                        hx-target="#previewPanel"
                        hx-swap="outerHTML">
                        <div class="p-4 text-center py-6 bg-zinc-100">
                            <p>Loading...</p>
                        </div>
                    </div>
                }
            </div>
        </div>
</form>
