@model FastGooey.Models.ViewModels.Weather.WeatherWorkspaceViewModel
@{
    decimal.TryParse(Model.Data?.Latitude, out var latitude);
    decimal.TryParse(Model.Data?.Longitude, out var longitude);
}

<script id="map-data-points" type="application/json">
@Html.Raw(System.Text.Json.JsonSerializer.Serialize(new[] 
{
    new 
    {
        Latitude = latitude,
        Longitude = longitude,
        Title = Model.Data?.Location
    }
}))
</script>

<form method="post"
      hx-post="/Workspaces/@Model.WorkspaceId()/Widgets/Weather/Workspace/@Model.InterfaceId()"
      hx-target="#workspaceEditor">
    @Html.AntiForgeryToken()
    <div id="editor" class="mx-auto max-w-3xl mt-8">
        <div class="flex justify-center mb-8">
            <div id="mapKit" class="mx-auto relative block" style="width: 800px; height: 500px;"></div>
        </div>
        
        <div class="formGroup formGroupAddBackground mb-8">
            <div class="w-full border-b border-b-zinc-300 py-2 px-4">
                <p class="font-semibold text-sm">Configuration</p>
            </div>
            <div class="py-2 px-4">
                <input type="hidden" id="latitude" name="latitude" value="@Model.Data.Latitude"/>
                <input type="hidden" id="longitude" name="longitude" value="@Model.Data.Longitude"/>
                <input type="hidden" id="coordinates" name="coordinates" value="@Model.Data.Coordinates" />
                <div>
                    <label for="location">Location</label>
                    <div class="flex gap-2">
                        <input 
                            type="text" 
                            id="location" 
                            name="location" 
                            value="@Model.Data.Location"
                            onkeyup="if(event.key === 'Enter') document.getElementById('searchBtn').click()"
                            />
                        <button
                            id="searchBtn"
                            type="button"
                            onclick="toggleEditor()"
                            hx-get="/Workspaces/@Model.WorkspaceId()/Widgets/Weather/search-panel"
                            hx-include="#location"
                            hx-target="#editorPanel"
                            class="px-2 py-1 rounded cursor-pointer bg-blueMid text-white font-semibold">Search...</button>
                    </div>
                    <div class="mt-2 mb-4">
                        <p id="descriptiveCoords" class="text-xs font-semibold uppercase text-grayMid">
                            @Model.Data.Coordinates
                        </p>
                    </div>
                    <div class="mb-2">
                        @await Html.PartialAsync("~/Views/Partials/SubmitButton.cshtml")
                    </div>
                </div>
            </div>
        </div>
        
        <div 
            id="previewPanel" 
            class="contentGroup formGroupAddBackground"
            hx-get="/Workspaces/@Model.WorkspaceId()/Widgets/Weather/preview-panel/@Model.InterfaceId()" 
            hx-trigger="load, refreshPreview from:body"
            hx-swap="innerHTML"
            hx-target="#previewPanel"
        >
            <div class="w-full border-b border-b-zinc-300 py-2 px-4">
                <p class="font-semibold">Preview</p>
            </div>
            <div class="p-4">
                <p>Loading...</p>
            </div>
        </div>
    </div>
</form>