@model FastGooey.Models.ViewModels.InfoViewModel

<div id="infoPanel" class="mx-6 xl:mx-auto max-w-3xl">
    <div class="contentGroup mb-6">
        <div class="w-full border-b border-b-zinc-300 py-2 px-4">
            <p class="font-semibold">Document Info</p>
        </div>
        <div class="px-4 py-2 my-2">
            <p class="font-semibold font-sm">Document Name</p>
            <p>@Model.ContentNode.Name</p>
        </div>
        <div class="px-4 py-2 mb-2">
            <p class="font-semibold font-sm">Document Type</p>
            <p>@Model.ContentNode.Platform, @Model.ContentNode.ViewType</p>
        </div>
        <div class="px-4 py-2 mb-2">
            <p class="font-semibold font-sm">Document ID</p>
            <p>@Model.ContentNode.DocId</p>
        </div>
        <div class="px-4 py-2 mb-2">
            <p class="font-semibold font-sm">Workspace Owner</p>
            <p>@Model.Workspace.Name</p>
        </div>
        <div class="px-4 py-2 mb-2">
            <p class="font-semibold font-sm">Created</p>
            <p>@Model.Workspace.CreatedAt.InUtc().ToString("MMMM d, yyyy hh:mm tt", System.Globalization.CultureInfo.InvariantCulture)</p>
        </div>
        <div class="px-4 py-2 my-2">
            <p class="font-semibold font-sm">Updated</p>
            <p>@Model.Workspace.UpdatedAt.InUtc().ToString("MMMM d, yyyy hh:mm tt", System.Globalization.CultureInfo.InvariantCulture)</p>
        </div>
    </div>
    
    <div class="contentGroup mb-8">
        <div class="w-full border-b border-b-zinc-300 py-2 px-4">
            <p class="font-semibold">HyperGooey Client</p>
        </div>
        <div class="px-4 py-2 my-2">
            <p class="font-semibold font-sm">HyperGooey Url</p>
            <p>https://www.fastgooey.com/hypermedia/@Model.ContentNode.DocId</p>
            <p class="my-2 text-xs font-semibold text-grayMid">
                Pass this url into a HyperGooey view and watch it magically render it's contents in your app.
            </p>
        </div>
    </div>
</div>