@model FastGooey.Models.ViewModels.Map.MapSearchPanelViewModel

<div class="bg-white flex w-full h-20 border-b border-b-zinc-300">
    <div class="flex-1 flex items-center">
        <p class="mx-6 font-bold">Search Results</p>
    </div>
</div>

<div class="px-4 pt-4">
    @Html.ValidationMessage("LocationName", "", new { @class = "text-red-600 text-sm mt-1 block" })
    @Html.ValidationMessage("Latitude", "", new { @class = "text-red-600 text-sm mt-1 block" })
    @Html.ValidationMessage("Longitude", "", new { @class = "text-red-600 text-sm mt-1 block" })
    @Html.ValidationMessage("LocationIdentifier", "", new { @class = "text-red-600 text-sm mt-1 block" })
</div>

<div id="searchResults" class="py-4 px-4">
    @foreach (var location in Model.Results?.Results ?? [])
    {
        <form>
            <input type="hidden" id="locationName" name="locationName" value="@location.Name" />
            <input type="hidden" id="latitude" name="latitude" value="@location.Coordinate.Latitude" />
            <input type="hidden" id="longitude" name="longitude" value="@location.Coordinate.Longitude" />
            <input type="hidden" id="locationIdentifier" name="locationIdentifier" value="@location.Id" />
            <div
                data-name="@location.Name"
                data-lat="@location.Coordinate.Latitude"
                data-lng="@location.Coordinate.Longitude"
                data-coords="@location.Coordinate.CoordinateDisplay()"
                data-identifier="@location.Id"
                onclick="selectLocation(this)"
                hx-post="@Url.Action("AddLocationEntry", "Map", new { workspaceId = Model.WorkspaceId })"
                hx-include="closest form"
                hx-target="#collection"
                hx-swap="beforeend"
                class="bg-white cursor-pointer rounded-xl shadow py-2 px-4 mb-4 border-3 border-white hover:underline hover:border-blueMid">
                <p class="font-medium mb-1">
                    @location.Name
                </p>
                <p class="text-xs font-semibold uppercase text-grayMid mb-1">
                    @location.Coordinate.CoordinateDisplay()
                </p>
            </div>
        </form>
    }
</div>
    
<div class="absolute bottom-0 bg-white w-full h-16 border-t border-t-zinc-300 flex justify-between items-center px-6">
    <div class="flex items-center w-1/2"></div>
    <div class="flex items-center justify-end w-1/2 text-right">
        <button type="button" onclick="toggleEditor()" class="bg-zinc-300 text-zinc-700 font-semibold rounded px-4 py-2 cursor-pointer text-sm">
            Cancel
        </button>
    </div>
</div>

<script>
    function selectLocation(sender) {
        document.getElementById("locationSearch").value = "";
        
        addLocationToMap(
            parseFloat(sender.dataset.lat),
            parseFloat(sender.dataset.lng),
            sender.dataset.name
        );

        toggleEditor();
    }
</script>
