<div id="list" class="mx-6 xl:mx-auto max-w-5xl">
    <div class="contentGroup mb-8">
        <div class="flex gap-2 border-b border-b-zinc-300 py-2 px-4">
            <p class="font-semibold flex-1">Title</p>
            <p class="font-semibold w-90">Date Submitted</p>
        </div>
        <div class="flex gap-2 border-b border-b-zinc-300 py-2 px-4 items-center">
            <div class="flex-1">
                <button
                    type="button"
                    hx-get="@Url.Action("FormSubmissionViewerPanel", "AppleMobileForm", new { workspaceId = ViewContext.RouteData.Values["workspaceId"] })"
                    hx-target="#editorPanel"
                    onclick="toggleEditor()"
                    class="hover:bg-zinc-200 text-zinc-700 font-semibold rounded px-4 py-2 cursor-pointer text-sm">
                    San Juan, PR
                </button>
            </div>
            <p class="w-90">October 15, 2025 17:45</p>
        </div>
        <div class="flex gap-2 border-b border-b-zinc-300 py-2 px-4 items-center">
            <div class="flex-1">
                <button
                    type="button"
                    hx-get="@Url.Action("FormSubmissionViewerPanel", "AppleMobileForm", new { workspaceId = ViewContext.RouteData.Values["workspaceId"] })"
                    hx-target="#editorPanel"
                    onclick="toggleEditor()"
                    class="hover:bg-zinc-200 text-zinc-700 font-semibold rounded px-4 py-2 cursor-pointer text-sm">
                    San Juan, PR
                </button>
            </div>
            <p class="w-90">October 15, 2025 17:45</p>
        </div>
        <div class="flex gap-2 border-b border-b-zinc-300 py-2 px-4 items-center">
            <div class="flex-1">
                <button
                    type="button"
                    hx-get="@Url.Action("FormSubmissionViewerPanel", "AppleMobileForm", new { workspaceId = ViewContext.RouteData.Values["workspaceId"] })"
                    hx-target="#editorPanel"
                    onclick="toggleEditor()"
                    class="hover:bg-zinc-200 text-zinc-700 font-semibold rounded px-4 py-2 cursor-pointer text-sm">
                    San Juan, PR
                </button>
            </div>
            <p class="w-90">October 15, 2025 17:45</p>
        </div>
        <div class="flex gap-2 border-b border-b-zinc-300 py-2 px-4 items-center">
            <div class="flex-1">
                <button
                    type="button"
                    hx-get="@Url.Action("FormSubmissionViewerPanel", "AppleMobileForm", new { workspaceId = ViewContext.RouteData.Values["workspaceId"] })"
                    hx-target="#editorPanel"
                    onclick="toggleEditor()"
                    class="hover:bg-zinc-200 text-zinc-700 font-semibold rounded px-4 py-2 cursor-pointer text-sm">
                    San Juan, PR
                </button>
            </div>
            <p class="w-90">October 15, 2025 17:45</p>
        </div>
        <div class="flex gap-2 border-b border-b-zinc-300 py-2 px-4 items-center">
            <div class="flex-1">
                <button
                    type="button"
                    hx-get="@Url.Action("FormSubmissionViewerPanel", "AppleMobileForm", new { workspaceId = ViewContext.RouteData.Values["workspaceId"] })"
                    hx-target="#editorPanel"
                    onclick="toggleEditor()"
                    class="hover:bg-zinc-200 text-zinc-700 font-semibold rounded px-4 py-2 cursor-pointer text-sm">
                    San Juan, PR
                </button>
            </div>
            <p class="w-90">October 15, 2025 17:45</p>
        </div>
    </div>
</div>
