@model FastGooey.Models.ViewModels.Clock.ClockWorkspaceViewModel
@{
    decimal.TryParse(Model.Data?.Latitude, out decimal latitude);
    decimal.TryParse(Model.Data?.Longitude, out decimal longitude);
}

<script id="map-data-points" type="application/json">
@Html.Raw(System.Text.Json.JsonSerializer.Serialize(new[] 
{
    new 
    {
        Latitude = latitude,
        Longitude = longitude,
        Title = Model.Data?.Location
    }
}))
</script>

<form method="post"
      hx-post="/Workspaces/@Model.WorkspaceId()/Widgets/Clock/Workspace/@Model.InterfaceId()"
      hx-target="#workspaceEditor">
    <div id="editor" class="mx-auto mt-30 mb-24 max-w-3xl">
        <div class="flex justify-center mb-8">
            <div id="mapKit" class="mx-auto relative block" style="width: 800px; height: 500px;"></div>
        </div>
        
        <div class="formGroup mb-8">
            <div class="w-full border-b border-b-zinc-300 py-2 px-4">
                <p class="font-semibold">Configuration</p>
            </div>
            <div class="py-2 px-4">
                <input type="hidden" id="latitude" name="latitude" value="@Model.Data?.Latitude"/>
                <input type="hidden" id="longitude" name="longitude" value="@Model.Data?.Longitude"/>
                <input type="hidden" id="timezone" name="timezone" value="@Model.Data?.Timezone"/>
                <input type="hidden" id="mapIdentifier" name="mapIdentifier" value="@Model.Data?.MapIdentifier" />
                <div>
                    <label for="location">Location</label>
                    <div class="flex gap-2">
                        <input 
                            type="text" 
                            id="location" 
                            name="location" 
                            value="@Model.Data?.Location"
                            placeholder="Search for a location..."
                            onkeyup="if(event.key === 'Enter') document.getElementById('searchBtn').click()"
                        />
                        <button
                            id="searchBtn"
                            type="button"
                            onclick="toggleEditor()"
                            hx-get="/Workspaces/@Model.WorkspaceId()/Widgets/Clock/search-panel"
                            hx-include="#location"
                            hx-target="#editorPanel"
                            class="px-2 py-1 rounded cursor-pointer bg-blueMid text-white font-semibold">
                            Search...
                        </button>
                    </div>
                    <div class="my-2">
                        <p id="descriptiveTime" class="text-xs font-semibold uppercase text-grayMid">
                            @Model.CurrentTime?.Formatted()
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div hx-get="/Workspaces/@Model.WorkspaceId()/Widgets/Clock/preview-panel/@Model.InterfaceId()" 
             hx-trigger="load, refreshPreview from:body"
             hx-target="#previewPanel"
             hx-swap="outerHTML" 
             id="previewPanel" 
             class="contentGroup">
            <div class="w-full border-b border-b-zinc-300 py-2 px-4">
                <p class="font-semibold">Preview</p>
            </div>
            <div class="p-4 text-center py-6 bg-zinc-100">
                <p>Loading...</p>
            </div>
        </div>
    </div>

    <div class="fixed bottom-0 bg-white h-16 border-t border-t-zinc-300 flex justify-between items-center px-6 left-[20%] right-0">
        <div class="flex items-center w-1/2">
            <p class="text-sm">Widgets :: Clock</p>
        </div>
        <div class="flex items-center justify-end w-1/2 text-right">
            @await Html.PartialAsync("~/Views/Partials/SubmitButton.cshtml")
        </div>
    </div>
</form>